@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Ejemplo h1</h1>
<h2>Ejemplo h2</h2>
<h3>Ejemplo h3</h3>
<h4>Ejemplo h4</h4>
<b>ejemplo texto negrita....</b>
<a target="_blank" href="https://www.infobae.com.ar">Ir al diario...</a>

<ul>    <!--Viñeta-->
    <li>Uno</li>
    <li>Dos</li>
    <li>Tres</li>

</ul>

<table>
    <tr>
        <th>Col1</th>
        <th>Col2</th>
        <th>Col3</th>
    </tr>
    <tr><td>Texto1</td><td>Texto2</td><td>Texto3</td></tr>
    <tr><td>Texto1</td><td>Texto2</td><td>Texto3</td></tr>
</table>

<input type="text" value="Ejemplo de campo de texto" />
<input type="number" value="10" />
<input type="password" value="hola como va"
<select>
    <option>Ejemplo1</option>
    <option selected>Ejemplo2</option>
    <option>Ejemplo3</option>
</select><br />

Soy un check!!! <input type="checkbox"/><br />
Soy un radio <input type="radio" name="mismoradio" />
<input type="radio" name="mismoradio" checked />
<input type="radio" name="mismoradio" />
<textarea cols="10" rows="5">Texto muy largo de muchas lineas... </textarea>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
